@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Gilroy;
  src: url(../src/assets/fonts/Gilroy-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Gilroy;
  src: url(../src/assets/fonts/Gilroy-Medium.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Gilroy;
  src: url(../src/assets/fonts/Gilroy-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Gilroy;
  src: url(../src/assets/fonts/Gilroy-Black.ttf) format('truetype');
  font-weight: 900;
}

:root {
  max-width: 1800px;
  margin: auto;
  color-scheme: dark;
  font-family: Gilroy;
  background-color: black;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  margin: 0 auto;
}

@keyframes cambiarColor {

  0% {
    color: #00A3FF;
  }


  100% {
    color: #2A00A4;
  }
}

.animated-hero {
  animation: cambiarColor 10s infinite alternate-reverse;
}